body {
    text-align: center;
}

.board {
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board div {
    width: 300px;
    height: 300px;
    margin: 0;
    border: 1px solid black;
    font-size: 200px;
}